USE [master]
GO
/****** Object:  Database [LOTR-game]    Script Date: 2019-01-12 16:38:17 ******/
CREATE DATABASE [LOTR-game]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LOTR2-game', FILENAME = N'C:\Users\Administrator\LOTR2-game.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LOTR2-game_log', FILENAME = N'C:\Users\Administrator\LOTR2-game_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LOTR-game].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LOTR-game]
GO
USE [LOTR-game]
GO
/****** Object:  Table [dbo].[Ability]    Script Date: 2019-01-12 16:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ability](
	[AbilityID] [int] IDENTITY(1,1) NOT NULL,
	[AbilityTypeId] [int] NULL,
	[Value] [int] NULL,
 CONSTRAINT [PK_CardAbilities] PRIMARY KEY CLUSTERED 
(
	[AbilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AbilityToCard]    Script Date: 2019-01-12 16:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbilityToCard](
	[AbilityId] [int] NOT NULL,
	[CardId] [int] NOT NULL,
 CONSTRAINT [PK_AbilityToCard] PRIMARY KEY CLUSTERED 
(
	[AbilityId] ASC,
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AbilityType]    Script Date: 2019-01-12 16:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbilityType](
	[AbilityTypeID] [int] NOT NULL,
	[AbilityTypeName] [nchar](10) NULL,
 CONSTRAINT [PK_AbilityType] PRIMARY KEY CLUSTERED 
(
	[AbilityTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Card]    Script Date: 2019-01-12 16:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Card](
	[CardID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Cost] [int] NULL,
	[CardTypeId] [int] NULL,
	[Attack] [int] NULL,
	[Health] [int] NULL,
 CONSTRAINT [PK_Card] PRIMARY KEY CLUSTERED 
(
	[CardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CardType]    Script Date: 2019-01-12 16:38:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardType](
	[CardTypeID] [int] NOT NULL,
	[CardTypeName] [nchar](10) NULL,
 CONSTRAINT [PK_CardType] PRIMARY KEY CLUSTERED 
(
	[CardTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 2019-01-12 16:38:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[Name] [nvarchar](50) NOT NULL,
	[Wins] [int] NULL,
	[Losses] [int] NULL,
 CONSTRAINT [PK_Player_1] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedGame]    Script Date: 2019-01-12 16:38:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedGame](
	[Id] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ability] ON 

INSERT [dbo].[Ability] ([AbilityID], [AbilityTypeId], [Value]) VALUES (1, 1, 1)
INSERT [dbo].[Ability] ([AbilityID], [AbilityTypeId], [Value]) VALUES (2, 1, 2)
INSERT [dbo].[Ability] ([AbilityID], [AbilityTypeId], [Value]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[Ability] OFF
INSERT [dbo].[AbilityToCard] ([AbilityId], [CardId]) VALUES (1, 3)
INSERT [dbo].[AbilityToCard] ([AbilityId], [CardId]) VALUES (1, 5)
INSERT [dbo].[AbilityToCard] ([AbilityId], [CardId]) VALUES (1, 6)
INSERT [dbo].[AbilityType] ([AbilityTypeID], [AbilityTypeName]) VALUES (1, N'LifeGain  ')
INSERT [dbo].[AbilityType] ([AbilityTypeID], [AbilityTypeName]) VALUES (2, N'Damage    ')
INSERT [dbo].[AbilityType] ([AbilityTypeID], [AbilityTypeName]) VALUES (3, N'DrawCard  ')
SET IDENTITY_INSERT [dbo].[Card] ON 

INSERT [dbo].[Card] ([CardID], [Name], [Cost], [CardTypeId], [Attack], [Health]) VALUES (1, N'Orc', 1, 1, 2, 1)
INSERT [dbo].[Card] ([CardID], [Name], [Cost], [CardTypeId], [Attack], [Health]) VALUES (2, N'Human', 1, 1, 1, 2)
INSERT [dbo].[Card] ([CardID], [Name], [Cost], [CardTypeId], [Attack], [Health]) VALUES (3, N'Hobbit', 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Card] OFF
INSERT [dbo].[CardType] ([CardTypeID], [CardTypeName]) VALUES (1, N'Creature  ')
INSERT [dbo].[CardType] ([CardTypeID], [CardTypeName]) VALUES (2, N'Spell     ')
INSERT [dbo].[Player] ([Name], [Wins], [Losses]) VALUES (N'Erika', 0, 0)
INSERT [dbo].[Player] ([Name], [Wins], [Losses]) VALUES (N'Magnus', 0, 0)
INSERT [dbo].[Player] ([Name], [Wins], [Losses]) VALUES (N'Rikard', 0, 0)
ALTER TABLE [dbo].[Ability]  WITH CHECK ADD  CONSTRAINT [FK_CardAbilities_AbilityType] FOREIGN KEY([AbilityTypeId])
REFERENCES [dbo].[AbilityType] ([AbilityTypeID])
GO
ALTER TABLE [dbo].[Ability] CHECK CONSTRAINT [FK_CardAbilities_AbilityType]
GO
ALTER TABLE [dbo].[AbilityToCard]  WITH CHECK ADD  CONSTRAINT [FK_AbilityToCard_Card] FOREIGN KEY([CardId])
REFERENCES [dbo].[Card] ([CardID])
GO
ALTER TABLE [dbo].[AbilityToCard] CHECK CONSTRAINT [FK_AbilityToCard_Card]
GO
ALTER TABLE [dbo].[AbilityToCard]  WITH CHECK ADD  CONSTRAINT [FK_AbilityToCard_CardAbilities] FOREIGN KEY([AbilityId])
REFERENCES [dbo].[Ability] ([AbilityID])
GO
ALTER TABLE [dbo].[AbilityToCard] CHECK CONSTRAINT [FK_AbilityToCard_CardAbilities]
GO
ALTER TABLE [dbo].[Card]  WITH CHECK ADD  CONSTRAINT [FK_Card_CardType] FOREIGN KEY([CardTypeId])
REFERENCES [dbo].[CardType] ([CardTypeID])
GO
ALTER TABLE [dbo].[Card] CHECK CONSTRAINT [FK_Card_CardType]
GO
USE [master]
GO
